body
{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #ff8c15, #ef7070);
}

.container
{
    margin-top: 10px;
    color: #fff;
}

.col-md-4
{
    margin-top: 10px;
    margin-bottom: 10px;
}

img:hover
{
    transform: scale(1.1);
    transition: ls;
}